<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clark.learn.shadow.plugindemo">

    <application
        android:name="com.clark.learn.shadow.plugindemo.application.PluginApplication"
        android:label="PluginDemo"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PluginAddHostViewActivity"
            android:configChanges="orientation|keyboardHidden" />
    </application>
</manifest>